{% extends "recursosBiblio/base.html" %}
{% block title %}
- AUTORS
{% endblock %}
{% block content %}
<h1>
    Autors
</h1>

<table border="2">
    <tr>
        <td>  <h4>NOM </h4> </td>
        <td>  <h4>COGNOM </h4> </td>
        <td>  <h4>DNI </h4> </td>
        <td>  <h4>NACIONALITAT </h4> </td>
    </tr>
    {% for autor in autors %}
    <tr>
        <td>  {{ autor.nom}}  </td>
        <td>  {{ autor.cognom}}  </td>
        <td>  <a href="{%  url  'recursosBiblio:detalls_autor' autor.DNI %}"> {{ autor.DNI}} </a> </td>
        <td>  {{ autor.nacionalidad}}  </td>

    </tr>
{% empty %} Sorry, the database does not have any author yet!
{% endfor %}
</table>

{% endblock %}
